/* General*/

.footer-top.has-footer-menu {
    display: none;
}

.footer-nav-widgets-wrapper.header-footer-group {
    display: none;
}

.hide {
    display: none;
}


/* Réinitialisez les marges et les rembourrages par défaut */
body.template-full-width .entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 100%;
}

.singular .entry-header {
    padding: 0px;
}


/* Footer */
.custom-footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin: 0;
    font-size: 16px;
    color: #000;
    font-style: normal;
    text-align: center;
    font-family: Syne;
}





/* LIENS DU MENU */


.primary-menu.reset-list-style {
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-family: Syne;

}

.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-49 {
    color: #000000 !important;
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-48 {
    color: #FFF !important;
    display: inline-block;
    padding: 10px 25px;
    background-color: #DC9F96;
    text-align: center;



}



.header-inner {
    padding: 0px;
}

.section-inner {
    margin-right: 0px;
}

.conteneur-principal-formquantite {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.conteneur-quantite {
    display: flex;
}

.conteneur-principal-formquantite input[type="number"] {
    display: block !important;
    height: 67px !important;
    width: 65px !important;
    border-radius: 8px 0 0 8px !important;
    font-size: 20px !important;
    color: black !important;
    font-weight: 500 !important;
    text-align: center !important;
}

.bouton-quantite {
    display: flex !important;
    flex-direction: column !important;
    height: 67px !important;
    margin-top: 0% !important;
    margin-right: 30px;


}

.bouton-plus,
.bouton-moins {
    display: block !important;
    height: 34px !important;
    width: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.bouton-plus {
    border-bottom: solid 1px #FFFFFF !important;
    border-top-right-radius: 8px !important;
}

.bouton-moins {
    border-bottom-right-radius: 8px !important;
}

.bouton-ok [type="submit"] {
    height: 67px;
    border-radius: 8px !important;
    width: 140px;
    margin-top: 4px !important;
    color: #FFF;

}

.wpcf7-spinner {
    display: none !important;
    text-align: center !important;

}

body:not(.overlay-header) .primary-menu>li>a,
body:not(.overlay-header) .primary-menu>li>.icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote:before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
    color: #000 !important;
}


/* button */

.ligne {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;

}

.droite {
    width: 60%;
    background-color: #E0B9B4;
    color: #FFF;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.gauche {
    width: 35%;
    background-color: #FFF;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.nombre {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.plusmoins {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.plus,
.moins {
    height: 49%;

    background-color: #DC9F96;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.plus {
    border-radius: 0px 5px 0px 0px;
}

.moins {
    border-radius: 0px 0px 5px 0px;
}